name: Clojure CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Leiningen
        run: |
          sudo apt-get update
          sudo apt-get install -y leiningen
      - name: Install dependencies
        working-directory: clojure-api
        run: lein deps
      - name: Run tests
        working-directory: clojure-api
        run: lein test